/* iCheck plugin Square skin, green
----------------------------------- */
.icheckbox_square-green,
.iradio_square-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(green.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-green {
    background-position: 0 0;
}
.icheckbox_square-green.hover {
    background-position: -24px 0;
}
.icheckbox_square-green.checked {
    background-position: -48px 0;
}
.icheckbox_square-green.disabled {
    background-position: -72px 0;
    cursor: default;
}
.icheckbox_square-green.checked.disabled {
    background-position: -96px 0;
}

.iradio_square-green {
    background-position: -120px 0;
}
.iradio_square-green.hover {
    background-position: -144px 0;
}
.iradio_square-green.checked {
    background-position: -168px 0;
}
.iradio_square-green.disabled {
    background-position: -192px 0;
    cursor: default;
}
.iradio_square-green.checked.disabled {
    background-position: -216px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-green,
    .iradio_square-green {
        background-image: url(green@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}

.simnaoswitch {
    position: relative; width: 84px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.simnaoswitch-checkbox {
    display: none;
}
.simnaoswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FCFCFC; border-radius: 20px;
}
.simnaoswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.simnaoswitch-inner:before, .simnaoswitch-inner:after {
    display: block; float: left; width: 50%; height: 32px; padding: 0; line-height: 32px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.simnaoswitch-inner:before {
    content: "Sim";
    padding-left: 12px;
    background-color: #1E8710; color: #FFFFFF;
}
.simnaoswitch-inner:after {
    content: "Não";
    padding-right: 12px;
    background-color: #BDBBBB; color: black;
    text-align: right;
}
.simnaoswitch-switch {
    display: block; width: 17px; margin: 7.5px;
    background: #FCFCFC;
    border: 2px solid #FCFCFC; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 48px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.simnaoswitch-checkbox:checked + .simnaoswitch-label .simnaoswitch-inner {
    margin-left: 0;
}
.simnaoswitch-checkbox:checked + .simnaoswitch-label .simnaoswitch-switch {
    right: 0px; 
}

.tabela2{
  font-size: 9px;
  color: black;
}

.modal-header-success {
    color:#ffffff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #449c44;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}